# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store
nohup.out

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm

#.npmrc
node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

.idea
.idea_modules/
tsconfig.tsbuildinfo
